body{
    background: black !important;
}

.container{
    max-width: 100% !important;
    height: 100% !important;
    position: absolute;
    padding: 0px !important;
}


.row{
    height: 100%;
}

.col-sm-4{
    background: #1F1F1F;
    height: 100%;
    max-width: 20% !important;
    padding: 0px !important;
}

div#option {
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.26);
    height: 50px;
    padding-left: 30px;
    padding-top: 15px;
}

i.fas.fa-chevron-left{
    color: white !important;
}


.navbar-light .navbar-brand {
    color: white !important;
}

nav.navbar.navbar-light.bg-light{
    background-color: #1F1F1F !important;
}

i{
    color: #D9167F;
    margin-right: 20px;
}

span{
    color: #D9167F;
}

.col-sm-8{
    text-align: -webkit-center;
    color: white;
}

.col-sm-8 h1{
    margin-top: 100px;
}

p.listening {
    color: gray;
    margin-right: 15px;
}

#withdrawalAmmounts{
    display: none;
}

h1#widthdrawOpt {
    font-size: 25px;
    margin-top: 10px;
    font-weight: lighter;
}

i.fas.fa-microphone {
    font-size: 38px;
    margin-top: 23px;
    color: gray;
}


.home{
    width: 100%;
    text-align: -webkit-center;
    color: white;
    padding-top: 15% !important;
}

@media (max-width: 800px){
    .container{
        max-width: unset;
        height: unset;
        position: unset;
    }
    
    .row{
        height: unset;
    }
    
    .col-sm-4{
        background: #1F1F1F;
        height: 100%;
        max-width: unset;
        padding: unset;
    }

}